*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;}
    

ul, ol{
    padding: 0px;
}
li{
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
}
/* HEADER */
/* por Justi */
header {
    background-color: rgb(24, 24, 24);
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    width: 100%;
    height: 66%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border-bottom: solid 0.5px rgba(255, 255, 255, 0.2);
}

.logo img{
    height: 70%;
}
.slogan{
    height: 30%;
    width: 10%;
}

.navegador {
   position: sticky;
   top: 0px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
}
.navegador img{
    margin-right: 10px;
    width: 6%;
    height: 100%;
}
.search{
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}
.search input {
    padding: 10px;
    font-size: 17px;
    border: none;
    /*border-bottom: solid 1px gray;*/
    width: 80%;
    background-image: linear-gradient(rgb(24, 24, 24), black );
    border-bottom: solid 3px rgb(16, 135, 233);
}

.search button {
    /* background: rgba(255, 255, 255, 0.1);*/
    width: 10%;
    padding: 10px;
    background-image: linear-gradient(rgb(24, 24, 24), black );
    border: none;
    color: white;
    font-size: 17px;
    /*border-bottom: 1px solid grey;*/
    cursor: pointer;
    border-bottom: solid 3px rgb(16, 135, 233);
}
.search button:hover {
    background: rgba(255, 255, 255, 0.2);
   border-bottom: solid 3px rgb(16, 135, 233);
}
/*.search::after {
    content: "";
    clear: both;
}*/
.navegador ul {
    width: 40%;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.navegador li {
    text-align: center;
    padding: 5px 10px;
    font-family: 'Montserrat', sans-serif;
    border-bottom: solid 3px transparent;
}
#my-playlist{
    background-color: rgb(16, 135, 233);
    border-radius: 40px;
    padding: 5px;
    border-bottom: none;
}
#my-playlist li:hover{
    background-color: rgb(75, 151, 212);
    color: rgba(255, 255, 255, 0.8);
    border-bottom: none;
}
.navegador li:hover {
    border-bottom: solid 3px rgb(16, 135, 233);
}

/* FOOTER */
/* por Justi */
footer {
    background-color: rgba(255, 255, 255, 0.1);
    height: 150px;
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.copyright {
    width: 20%;
    color: whitesmoke;
}
.logo-copy {
    width: 5%;
}

/* INDEX.HTML */
/* por Justi */
.main-home {
    width: 100%;
    height: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lista-songs, .lista-albums, .lista-artist {
    background-color: rgba(255, 255, 255, 0.2);

    height: 700px;
    width: 28%;
    padding: 0%;
    margin: 0px 30px 0px 30px;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.title-songs {
    background-image: url(../img/home/songs.JPEG);
}
.title-albums {
    background-image: url(../img/home/albums.JPEG);
}
.title-artist {
    background-image: url(../img/home/artist.JPEG);
}

.title-songs, .title-albums, .title-artist {
    background-size: 100%;
    background-position: center;

    text-align: center;
    font-size: 200%;
    text-shadow: 4px 4px 7px black;

    width: 100%;
    height: 175px;
    border-radius: 10px;
    margin: 0px 0px 10px 0px;
}

.ul-de-songs, .ul-de-albums, .ul-de-artist {
    list-style-type: none;

    width: 100%;
    height: 465px;
    padding: 0px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.ul-de-songs li, .ul-de-albums li, .ul-de-artist li{
    background-color: rgba(255, 255, 255, 0.1);

    list-style-type: none;

    width: 100%;
    height: 75px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ul-de-songs li:hover, .ul-de-albums li:hover, .ul-de-artist li:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.ul-de-songs li img, .ul-de-albums li img{
    width: 20%;
    border-radius: 10px;
}
.ul-de-artist li img{
    width: 20%;
    border-radius: 50%;
}

.text{
    width: 80%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text h5{
    font-size: 20px;

    margin-left: 5px;
}
.text h5:hover{
    text-decoration: underline;
    cursor: pointer;
}
.text p{
    color: rgba(255, 255, 255, 0.8);
}
.text p:hover{
    color: rgba(255, 255, 255, 0.9);
    text-decoration: underline;
    cursor: pointer;
}

/* DETAIL-ARTIST.HTML */
/* por Justi */

.main-detail-artist{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.banner-miley {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 30vh;
}
.banner-miley img {
    width: 100%;
    height: 30vh;
    justify-content: center;
}
.artist-detail {
    width: 75%;
    height: 70vh;
    border-radius: 10px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
}
.img-miley {
    width: 40%;
    height: 100%;
    border-radius: 10px;
    margin: 20px;
}
.description-miley {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: royalblue;
}
.description-miley h1{
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: salmon;
    width: 100%;
}
.description-miley h6{
    font-size: 30px;
    margin: 0px;
    width: 100%;
    border-bottom: solid 2px rgba(255, 255, 255, 0.1);
}
.description-miley ul{
    width: 100%;
}
.description-miley li{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    margin: 10px;
    list-style-type: decimal;
}

 /* SEARCH-RESULTS.HTML*/
 /* por Justi*/

 .main-results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.main-results h2{
    width: 100%;
    color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    font-weight: 200;
    text-align: start;
    align-items: center;
    justify-content: flex-start;
    margin: 60px;
    font-size: 40px;
}
.main-results article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.main-results article h3{
    border-bottom: solid 2px rgba(255, 255, 255, 0.2);
    width: 100%;
    font-size: 30px;
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.result-artist{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.1)
}
.result-artist li{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-left: 20px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.result-artist h4{
    font-size: 30px;
    margin-left: 30px;
}
.result-artist img{
    width: 30%;
    border-radius: 50%;
}

.result-songs{
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.result-songs li{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px;
    height: 100%;
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.result-songs li div{
    width: 100%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: greenyellow;
    margin: 0px;
    padding: 0px;
    justify-content: flex-start;
    align-items: flex-start;
}
.result-songs li div h4{
    background-color: black;
    width: 100%;
    font-size: 20px;
    padding-top: 10px;
}
.result-songs li div p{
    background-color: black;
    width: 100%;
}
.result-songs img{
    width: 100%;
    height: 60%;
    border-radius: 10px;
}
.result-albums{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.result-albums li{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px;
    height: 100%;
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.result-albums li div{
    background-color: greenyellow;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}
.result-albums li div h4{
    font-size: 20px;
}
.result-albums img{
    width: 50%;
    border-radius: 10px;
}
.result-playlist{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.result-playlist li{
    width: 25%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.result-playlist img{
    width: 100%;
    border-radius: 10px;
}
.result-playlist li h4{
    font-size: 20px;
}

/* DETAIL-ALBUM.HTML */
/* por Carmen */

body{
    background-color: black;
}

.banner-album{
    width: 100%;
    display: block;
   
 }
  
 .banner-album-image{
    width: 100%;
    display: block;
    height: 90%;
 }
  
 .justice-title{
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: row;
    font-size: 50px ;
    line-height: 0;
    margin: 55px;
    border-radius: 25px;
    background-color: rgba(82, 75, 75, 0.5);
    text-shadow: 4px 4px 7px black;
  
 }
  
 .article-main-album{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    width: 1300px;
    margin: 55px;
    padding: 0;
  
 }
 .section1-album{
    font-size: 40px;
  }
 .fotoalbum{
    height: 650px;
    width: auto;
    border-radius: 25px;
 }
 .section2-album{
    font-size: 30px;
    
 }
  
 .detalles-album{
    font-size: 40px;
    list-style-type: none;
    text-shadow: 4px 4px 7px black;
    text-align: center;
 }

.button-genre-pop{
    background-color: royalblue;
    font-size: 40px;
    list-style-type: none;
    text-shadow: 4px 4px 7px black;
    border-color: black;
    padding: 10px;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;


}

/* GENRES.HTML */
/* por Carmen */

.banner-genres{
    width: 100%;
    display: block;
   
 }
 .banner-genres-image{
    width: 100%;
    display: block;
    height: 90%;}
  
 .genre-title{
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: row;
    font-size: 50px ;
    border-radius: 25px;
    line-height: 0;
    background-color: rgba(82, 75, 75, 0.5);
    margin: 30px;
    text-shadow: 4px 4px 7px black;
  
 }
  
 .genres-article{
    display: flex;
    justify-content: space-around;
    align-items: center;
  
  
 }
  
 .pop, .rock, .techno {
    background-color: rgba(255, 255, 255, 0.5);
  
    height: auto;
    width: 31%;
    padding: 0%;
    margin: 15px;
    border-radius: 10px;
    font-size: 40px;
    text-align: center;
    text-shadow: 4px 4px 7px black;
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  
 }
  
  
 .genre-image{
    width: auto;
 height: 450px;
 }
  
 

/* DETAI-GENRES.HTML */
/* por Carmen */

.detail-genre-title{
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: row;
    font-size: 50px ;
    margin: 30px;
    line-height: 0;
    border-radius: 25px;
    background-color: rgba(82, 75, 75, 0.5);
    text-shadow: 4px 4px 7px black;
  
 }
  
 .detail-genres-article{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
 }
  
 .dua-pop, .sam-pop, .justin-pop, .miley-pop{
    background-color: rgba(255, 255, 255, 0.5);
  
    height: auto;
    width: 31%;
    padding: 0%;
    margin: 20px;
    border-radius: 10px;
    align-items: center;
    font-size: 30px;
    text-align: center;
    text-shadow: 4px 4px 7px black;
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  
 }
  
 .ul-pop-img{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin:55px;
    align-items: center;
    padding: 20px;
 }
  
 .pop-image{
    width: auto;
 height: 300px;
 border-radius: 50%;
 }
 

/* DETAI-TRACK.HTML */
/*Valentino*/


.track-title{
    font-size: 50px ;
    text-align: center;
    line-height: 20px;
}

.title-album{
    font-size: 15px;
}


.container-track {
    display: flex;
}

.track-info {
    padding-left: 50px;
    flex-grow: 1;
}

.title-and-playlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

audio {
    margin-top: 50px;
    width: 100%;
}

.btn-playlist{
    background-color: rgb(7, 182, 7);
    color: white;
    border: none;
    height: 50px;
    padding: 10px 5px;
    border-radius: 30px;
}













