* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    color: white;
}

.body{
    background-color: black;

}

.banner-album{
padding: none;   
flex-direction: row;
    display: flex;  
    size: 100%;
    justify-content: center;
    background-image: url(../img/albumes/album.3.jpeg);
    margin: 10px;

}

.justice-title{
    font-size: 50px ;
    text-align: center;
    line-height: 20px;

}

.fotoalbum{
    height: 650px;
    width: auto;
}

.info1-album{
    background-color: turquoise;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    ;
}

.info2-album{
  font-size: 40px;
    line-height: 30px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    background-color: chartreuse;

}

.info3-album{
    background-color: coral;
    font-size: 30px;

}

.detalles-album{
    font-size: 40px;
    text-decoration-line: underline;
    list-style-type: none;
    text-align: center;
   
}